<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
      <section>
         <div class="content-wrapper">
            <h3>At我的</h3>
            <div class="row">
               <div class="col-lg-9 col-md-9 mt">
                  <ul class="timeline">
                     <li th:each="collect,collectStat : ${collects}" >
                        <div class="timeline-panel">
                           <div class="popover right">
                              <div class="popover-content">
                                 <div class="table-grid table-grid-align-middle mb">
                                    <div class="col col-xxs">
                                       <a href="javascript:void(0);" th:onclick="'locationUrl(\'/user/' + ${collect.userId} + '/0\',\'\');'">
                                          <img th:src="${collect.profilePicture == null?'img/favicon.png':dfsUrl+collect.profilePicture}" alt="" class="media-object img-circle thumb48"/>
                                       </a>
                                    </div>
                                    <div class="col">
                                       <p class="m0">
                                          <a href="javascript:void(0);" class="text-muted" th:text="${collect.userName}" th:onclick="'locationUrl(\'/user/' + ${collect.userId} + '/0\',\'\');'" >user name</a>
                                          <small class="ml" th:text="${collect.collectTime}">
                                          </small>
                                       </p>
                                    </div>
                                    <div class="col text-right">
                                       <div class="btn btn-default">回复</div>
                                    </div>
                                 </div>
                                 <div class="m0" th:text="${collect.remark}"></div>
                                 <div class="media resource-card-thumbnail">
                                    <a th:href="@{${collect.url}}" class="pull-left" target="_blank">
                                       <div class="media-object resource-card-image" th:style="'background-image:url(' + @{(${collect.logoUrl}=='' ? 'img/favicon.png' : ${collect.logoUrl})} + ')'" ></div>
                                    </a>                                   
                                    <div class="media-body">
                                       <h4 class="visible-xs media-heading resource-card-title-xs">
                                          <a target="_blank" th:href="@{${collect.url}}" th:text="${collect.title}">title</a>
                                       </h4>
                                       <h3 class="hidden-xs media-heading resource-card-title">
                                          <a target="_blank" th:href="@{${collect.url}}" th:text="${collect.title}">title</a>
                                       </h3>
                                       <div class="hidden-xs" style="max-height:42px;overflow:hidden;">
                                          <p th:text="${collect.description}">description</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div th:if="${collect.url == null}"><h3>该分享已被删除</h3></div>
                                 <div class="collapse">
                                    <div class="media">
                                       <div class="media-body">
                                          <form>
                                             <div class="input-group">
                                                <input type="text" class="form-control" placeholder="输入回复..."/>
                                                <span class="input-group-btn">
                                                   <button type="submit" class="btn btn-default">发送</button>
                                                </span>
                                             </div>
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-3"></div>
            </div>
         </div>
      </section>
</body>
 <script type='text/javascript'>
 $(function(){
	 toastr.options = {
	            'closeButton': true,
	            'positionClass': 'toast-top-center',
	            'timeOut': '5000',
	         };
	 $("#addFavorites").click(function(){
		 var ok = $('#form').parsley().isValid({force: true});
		 if(ok){
			 $.ajax({
					async: false,
					type: 'POST',
					dataType: 'json',
					data:'name=' + $("#name").val(),
					url: '/favorites/add',
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(XMLHttpRequest);
						console.log(textStatus);
						console.log(errorThrown);
					},
					success: function(response){
						if(response.rspCode == '000000'){
							 loadFavorites();
							 toastr.success('收藏夹创建成功！', '操作成功');
          	    	 	}else{
          	    			toastr.error(response.rspMsg, '操作失败');
          	    	 }
					}
				});
		 }
	 });
 });
 </script>
</html>