<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="lookAround :: htmlhead" th:with="title='favorites'"></head>
<body>


<script th:src="@{/vendor/modernizr/modernizr.custom.js}"></script>
<script th:src="@{/vendor/jquery/dist/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.js}"></script>
<script th:src="@{/vendor/jQuery-Storage-API/jquery.storageapi.js}"></script>
<script th:src="@{/vendor/jquery.flexslider/jquery.flexslider.min.js}"></script>
<script th:src="@{/js/collect.js}" ></script>
<script th:src="@{/js/comm.js}" ></script>

<div class="wrapper">
  <header class="topnavbar-wrapper">
    <nav role="navigation" class="navbar topnavbar">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <div class="brand-logo">
            <img th:src="@{/img/logo.png}" alt="App Logo" class="img-responsive"></img></div>
          <div class="brand-logo-collapsed">
            <img th:src="@{/img/logo-single.png}" alt="App Logo" class="img-responsive"></img></div>
        </a>
      </div>
      <div class="nav-wrapper">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs" title="缩小/扩大侧栏"> <em class="fa fa-navicon"></em>
            </a>
            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle" title="缩小/扩大侧栏"> <em class="fa fa-navicon"></em>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" data-search-open="" title="搜索">
              <em class="icon-magnifier"></em>
            </a>
          </li>
          <li class="page-scroll">
            <a href="/login">登录</a>
          </li>
          <li class="page-scroll">
            <a href="/register">注册</a>
          </li>
        </ul>
      </div>
      <form role="search" action="search.html" class="navbar-form">
        <div class="form-group has-feedback">
          <input id="searchKey" type="text" placeholder="输入并且按回车确定..." class="form-control"></input>
          <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
        </div>
        <button type="submit" class="hidden btn btn-default">提交</button>
      </form>
    </nav>
  </header>
  <aside class="aside">
    <div class="aside-inner">
      <nav data-sidebar-anyclick-close="" class="sidebar">
        <ul class="nav">
          <li class="nav-heading ">主导航</li>
          <li class=" ">
            <a href="/standard/my/0.html" title="首页">
              <em class="icon-home"></em>
              <span>首页</span>
            </a>
          </li>
          <li class=" active">
            <a title="发现" href="/standard/explore/0.html">
              <em class="icon-compass"></em>
              <span>发现</span>
            </a>
          </li>
          <li class="nav-heading ">更多</li>
          <li class=" ">
            <a href="/tool.html" title="网页收集工具">
              <em class="icon-wrench"></em>
              <span>网页收集工具</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <section>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <div class="classification">
            <ul>
              <li>
                <a class="active" href="/lookAround/standard/ALL">全部</a>
              </li>
              <li>
                <a href="/lookAround/standard/TRAVEL">旅行</a>
              </li>
              <li>
                <a href="/lookAround/standard/FOOD">料理</a>
              </li>
              <li>
                <a href="/lookAround/standard/EXERCISE">健身</a>
              </li>
              <li>
                <a href="/lookAround/standard/PHOTOGRAPH">摄影</a>
              </li>
              <li>
                <a href="/lookAround/standard/MUSIC">音乐</a>
              </li>
              <li>
                <a href="/lookAround/standard/REARING">育儿</a>
              </li>
              <li>
                <a href="/lookAround/standard/LOVE">恋爱</a>
              </li>
              <li>
                <a href="/lookAround/standard/BUSINESS">创业</a>
              </li>
              <li>
                <a href="/lookAround/standard/ART">美术设计</a>
              </li>
              <li>
                <a href="/lookAround/standard/MANAGER">产品经理</a>
              </li>
              <li>
                <a href="/lookAround/standard/MARKET">市场营销</a>
              </li>
              <li>
                <a href="/lookAround/standard/RUNNING">运营</a>
              </li>
            </ul>
          </div>
          <div class="slider">
            <ul class="slides" th:each="collect : ${fiveCollects}">
              <li th:style="'background-image:url(' + @{(${collect.logoUrl}=='' ? 'img/favicon.png' : ${collect.logoUrl})} + ')'">
                <h3>
                  <a th:href="@{${collect.url}}" th:text="${collect.title}"></a>
                </h3>
                <p>
                  <a href="javascript:void(0);" th:onclick="'locationUrl(\'/user/' + ${collect.userId} + '/0\',\'\');'">
                    <img th:src="@{(${collect.profilePicture}=='' ? 'img/favicon.png' : '../../' + ${collect.profilePicture})}"></img>
                    <span th:text="${collect.userName}"></span>
                  </a>
                </p>
              </li>
            </ul>
          </div>
          <div id="standard" th:if="${collects.size() > 0}" style="margin-top: 45px;">
            <div class="btn-group btn-xs mb pull-right" style="margin-top: -25px;">

              <a th:if="${otherPeople == null}" class="btn btn-xs btn-default active"  th:href="'/lookAround/standard/' + ${category}">

                <span class="icon-layers"></span>

              </a>

              <a th:if="${otherPeople != null}" class="btn btn-xs btn-default active"  th:href="'/lookAround/standard/' + ${category}">

                <span class="icon-layers"></span>

              </a>

              <a th:if="${otherPeople == null}" class="btn btn-xs btn-default" th:href="'/lookAround/simple/' + ${category}" >

                <span class="icon-list"></span>

              </a>

              <a th:if="${otherPeople != null}" class="btn btn-xs btn-default" th:href="'/lookAround/simple/' + ${category}" >

                <span class="icon-list"></span>

              </a>

            </div>
            <ul class="timeline-alt" id="collectStandardList">

              <li th:each="collect,collectStat : ${collects}" >

                <a href="javascript:void(0);" class="hidden-xs timeline-badge sharing-user-avatar" th:style="'background-image:url(' + @{(${collect.profilePicture}=='' ? 'img/favicon.png' : '../../' + ${collect.profilePicture})} + ')'" th:onclick="'locationUrl(\'/user/' + ${collect.userId} + '/0\',\'\');'" ></a>

                <div class="timeline-panel">

                  <div class="popover right">

                    <div class="arrow"></div>

                    <div class="popover-content">

                      <div class="table-grid">

                        <div class="col">

                          <div class="pull-right dropdown dropdown-list">

                            <a href="#" data-toggle="dropdown" class="sharing-more-button" th:if="${userId == collect.userId}" >

                              <span class="fa fa-angle-down"></span>

                            </a>

                            <ul class="dropdown-menu animated bounceIn">

                              <li>

                                <div class="list-group">

                                  <a href="javascript:void(0);"  class="list-group-item"  th:onclick="'getCollect(' + ${collect.id} + ',\'\');'" >

                                    <div class="media-box">

                                      <div class="pull-left">

                                        <em class="fa fa-pencil-square-o fa-2x fa-fw text-info"></em>

                                      </div>

                                      <div class="media-box-body clearfix">

                                        <p class="m0">修改收藏</p>

                                        <p class="m0 text-muted">

                                          <small>修改收藏的各种属性</small>

                                        </p>

                                      </div>

                                    </div>

                                  </a>

                                  <a href="javascript:void(0);"  class="list-group-item" th:onclick="'onCollect(' + ${collect.id} + ',\'\');'">

                                    <div class="media-box">

                                      <div class="pull-left">

                                        <em class="fa fa-trash fa-2x fa-fw text-danger"></em>

                                      </div>

                                      <div class="media-box-body clearfix">

                                        <p class="m0">删除</p>

                                        <p class="m0 text-muted">

                                          <small>该分享会永久删除</small>

                                        </p>

                                      </div>

                                    </div>

                                  </a>

                                </div>

                              </li>

                            </ul>

                          </div>

                          <div class="m0">

                            <a href="javascript:void(0);" class="text-muted" th:text="${collect.userName}" th:onclick="'locationUrl(\'/user/' + ${collect.userId} + '/0\',\'\');'" >user name</a>

                            <a th:if="${userId == collect.userId}" th:id="'private' + ${collect.id}"   class="deco-none"  title="设为私密"  href="javascript:void(0);"  th:style="'display:' + @{(${collect.type}=='PRIVATE' ? 'none' : 'inline-block')} + ''"  th:onclick="'changePrivacy(' + ${collect.id} + ',\'PRIVATE\');'">

                              <span class="fa fa-lock" style="color: #eee;"></span>

                            </a>

                            <a th:if="${userId == collect.userId}" th:id="'public' + ${collect.id}"  class="deco-none"  title="设为公开"  href="javascript:void(0);"  th:style="'display:' + @{(${collect.type}=='PUBLIC' ? 'none' : 'inline-block')} + ''"  th:onclick="'changePrivacy(' + ${collect.id} + ',\'PUBLIC\');'">

                              <span class="fa fa-lock text-warning"></span>

                            </a>

                            <small th:if="${type != 'explore'}" class="ml-sm text-muted" th:text="${collect.collectTime}">6天前  </small>

                          </div>

                        </div>

                      </div>

                      <div class="m0" th:text="${collect.remark}"></div>

                      <div class="media resource-card-thumbnail">

                        <a  th:href="@{${collect.url}}" class="pull-left" target="_blank">

                          <div class="media-object resource-card-image"  th:style="'background-image:url(' + @{(${collect.logoUrl}=='' ? 'img/favicon.png' : ${collect.logoUrl})} + ')'" ></div>

                        </a>

                        <div class="media-body">

                          <h4 class="visible-xs media-heading resource-card-title-xs">

                            <a target="_blank" th:href="@{${collect.url}}" th:text="${collect.title}">title</a>

                          </h4>

                          <h3 class="hidden-xs media-heading resource-card-title">

                            <a target="_blank" th:href="@{${collect.url}}" th:text="${collect.title}">title</a>

                          </h3>

                          <div class="hidden-xs resource-card-content">

                            <p  th:text="${collect.description}">description</p>

                          </div>

                        </div>

                      </div>

                      <div class="m0">

                        <span class="icon-folder mr-sm"></span>

                        <!--<a href="javascript:void(0);" class="normal-color-a ng-binding" th:if="${otherPeople == null}"   th:text="${collect.favoriteName}" th:onclick="'locationUrl(\'/standard/' + ${collect.favoriteId} + '/0\',\''+ ${collect.favoriteId} + '\');'" >文件加名称</a>-->

                        <a href="javascript:void(0);" class="normal-color-a ng-binding"   th:text="${collect.favoriteName}" th:onclick="'locationUrl(\'/standard/' + ${collect.favoriteId} + '/'+${collect.userId}+'\',\''+ ${collect.favoriteId} + '\');'" >文件加名称</a>

                        <div class="pull-right hidden-xxs">

                          <small>

                            <a class="sharing-action-button" style="display:none">

                              <span class="fa fa-share-alt"></span>

                              分享

                            </a>

                            <if style="display:none"    >

                              |

                            </if>

                            <a th:id="'like' + ${collect.id}"  class="sharing-action-button" th:style="'display:' + @{(${collect.Praise} ? 'none' : 'inline-block')} + ''"    th:onclick="'changeLike(' + ${collect.id} + ');'">

                              <span class="fa fa-thumbs-o-up"></span>

                              <show th:id="'likeS' + ${collect.id}"  th:text="|点赞(${collect.praiseCount})|" ></show>

                            </a>

                            <if style="display:none"  >

                              |

                            </if>

                            <a th:id="'unlike' + ${collect.id}"  class="sharing-action-button" th:style="'display:' + @{(${collect.Praise} ? 'inline-block' : 'none')}+ ''"    th:onclick="'changeLike(' + ${collect.id} + ');'">

                              <span class="fa fa-thumbs-up"></span>

                              <show th:id="'unlikeS' + ${collect.id}" th:text="|取消点赞(${collect.praiseCount})|"></show>

                            </a>

                            <input th:id="'praiseC' + ${collect.id}" type="hidden" name="praiseC" th:value="${collect.praiseCount}" />

                            <input th:id="'commentC' + ${collect.id}" type="hidden" name="commentC" th:value="${collect.commentCount}" />

                            |

                            <a  class="sharing-action-button btn-comment" href="javascript:void(0);" th:onclick="'switchComment(' + ${collect.id} + ');'" >

                              <span class="fa fa-comment-o"></span>

                              <show th:id="'commentS' + ${collect.id}" th:text="|评论(${collect.commentCount})|">	 评论(0)</show>

                            </a>

                            <if th:if="${userId != collect.userId}" >

                              |

                            </if>

                            <a class="sharing-action-button"  th:if="${userId != collect.userId}"  th:onclick="'getCollect(' + ${collect.id} + ',\'\');'" >

                              <span class="fa fa-spoon"></span>

                              收藏

                            </a>

                          </small>

                        </div>

                      </div>

                      <div class="collapse" th:id="'collapse' + ${collect.id}">

                        <comments th:id="'commentList' + ${collect.id}"></comments>

                        <div class="media p0" th:id="'comment' + ${collect.id}">

                          <div class="media-body">

                            <form>

                              <div class="input-group">

                                <input th:id="'commentContent' + ${collect.id}"   type="text" placeholder="输入评论..." class="form-control"/>

                                <span class="input-group-btn">

                                                   <button class="btn btn-default" type="button" th:onclick="'comment(' + ${collect.id} + ');'" >发送</button>

                                                </span>

                              </div>

                            </form>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </li>

            </ul>
            <button  id="loadStandardMore" class="mt-lg btn btn-primary btn-block" style="display:none;">加载更多</button>
            <div id="loadingStandard" style="text-align:center;margin:20px;display:none;"><img src="/img/loading.gif" width="64" height="64" /></div>
            <br />
            <br />
            <br />
          </div>
        </div>

        <input type="hidden" name="collectId" id="collectId" />

        <input type="hidden" name="forward" id="forward" th:value="'/standard/'+${type}+'/0'" />

        <input type="hidden" name="category" id="category" th:value="${category}" />

        <input type="hidden" name="pageType" id="pageType" th:value="${type}" />

        <input type="hidden"  id="userId" th:value="${userId}" />

        <div class="col-lg-3 col-md-3 hidden-sm">
          <div class="panel panel-default panel-follow">
            <div class="panel-heading">推荐关注</div>
            <ul class="list-group" th:each="user,userStat : ${fiveUsers}">
              <li class="list-group-item">
                <a href="#" class="pull-left" th:onclick="'locationUrl(\'/user/' + ${user.id} + '/0\',\'\');'">
                  <img th:src="@{(${user.profilePicture}=='' ? '/img/favicon.png' : '../../' + ${user.profilePicture})}" alt="" width="32px" height="32px"></img>
                </a>
                <div class="media-body">
                  <h4>
                    <a href="#" th:text="${user.userName}" th:onclick="'locationUrl(\'/user/' + ${user.id} + '/0\',\'\');'"></a>
                  </h4>
                  <small></small>
                  <a href="#" th:id="'follow' + ${user.id}" class="btn btn-default btn-xs" th:text="@{(${user.isFollow}=='FOLLOW' ? '取消关注' : '关注')}"
                     onclick="changeFollow(this.id)"></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <span>&copy; 2016 - Favorites</span>
    <span class="pull-right">
            沪ICP备11037833号 | 联系邮箱：
            <a href="#">contact@favorites.info</a>
         </span>
  </footer>
</div>

<script>
   $(".slider").flexslider({
      animation: "side",
      slideshowSpeed: 3000,
      pauseOnHover: true,
      directionNav: true,
      controlNav: true,
      prevText: "&lt;",
      nextText: "&gt;"
   });
</script>
<script type='text/javascript'>
    var page=1;
    //关注某人或取消关注某人
	function changeFollow(followIdStr){
	    var userId = document.getElementById("userId").value;
	    var textStr = document.getElementById(followIdStr).innerText;
	    var status = "";
	    if(textStr == "关注"){
	        status = "follow";
	    }else if(textStr == "取消关注"){
	        status = "unfollow";
	    }
	    var followId = followIdStr.substring(6);
	    if(userId != "0"){
            $.ajax({
                  async: false,
                  type: 'POST',
                  dataType: 'json',
                  data:{'status':status,'userId':followId},
                  url: '/follow/changeFollowStatus',
                  error : function(XMLHttpRequest, textStatus, errorThrown) {
                      console.log(XMLHttpRequest);
                      console.log(textStatus);
                      console.log(errorThrown);
                  },
                  success: function(response){
                      if(response.rspCode == '000000'){
                          if(textStr == "关注"){
                              document.getElementById(followIdStr).innerText = "取消关注";
                          }else{
                              document.getElementById(followIdStr).innerText = "关注";
                          }
                      }
                  }
            });
		}else{
		    alert("请先登录或注册");
		}
	}


</script>
</body>
</html>