<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
      <section>
         <div class="content-wrapper">
            <h3>上传头像</h3>
            <div class="row">
               <div class="col-md-3">
                  <form id="form" data-parsley-validate="true" onsubmit="return false" method="POST" enctype="multipart/form-data" action="/user/uploadHeadPortrait">
                     <div class="modal-body">
	                     <div class="form-group">
					    	   文件：<input type="file" name="file" class="form-control" placeholder="头像" data-parsley-error-message="请选择头像" required="required"/>
	                     </div>
	                 </div>
		             <div class="modal-footer">
		                 <button type="submit" class="btn btn-primary" id="uploadHeadPortrait">确定</button>
		                 <button type="button" data-dismiss="modal" class="btn btn-warning">取消</button>
		             </div>
                  </form>                  
               </div>
            </div>
         </div>
      </section>
</body>
 <script type='text/javascript'>
 $(function(){
	 $("#uploadHeadPortrait").on("click",function(){
		var ok = $('#form').parsley().isValid({force: true});
		if(!ok){
			return;
		}
        $("#form").ajaxSubmit({
           async: false,
           type: 'post',  
           url: '/user/uploadHeadPortrait',
           success: function(response){
        	    if(response.rspCode == '000000'){
        	    	$("#leftProfilePicture").attr("src",response.data);
					toastr.success('头像上传成功！', '操作成功');
   	    	    }else{
   	    	   		toastr.error(response.rspMsg, '操作失败');
   	    	    }
           },  
           error: function(XmlHttpRequest, textStatus, errorThrown){  
        	   	console.log(XMLHttpRequest);
				console.log(textStatus);
				console.log(errorThrown);
           }  
       });  
	});
 });
 </script>
</html>