<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	 <footer th:fragment="footer">
	    <span>&copy; 2016 - 2017</span>
	    <span class="pull-right">
	                  云收藏 | 让收藏更简单
	    </span>
	 </footer>
	<div style="display:none">
   	  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260466344'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260466344' type='text/javascript'%3E%3C/script%3E"));</script>
    </div> 
</body>
</html>

