body
{
    padding-top: 50px;

    background-color: #fff;
}
.navbar
{
    min-height: 50px;
}
.navbar-default
{
    border-bottom: none;
    background-color: white;
}
.navbar-default .navbar-nav > li > a
{
    padding-top: 14px;
    padding-bottom: 14px;

    color: #959595;
}
.navbar-default .navbar-nav > li > a:hover
{
    color: #333;
}
.navbar-brand
{
    height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-brand > img
{
    width: 95px;
    height: 36px;
}
footer
{
    font-size: 13px;

    color: #666
    padding-bottom: 10px;
    background: white;
}
footer > a
{
    color: black;
}
footer > p
{
    margin-bottom: 10px;
}
.img-responsive
{
    margin: 0 auto;
}
.banner
{
    height: 500px;

    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* <------ */
}
.banner > .media
{
    width: 758px;
    margin-top: 150px;
}
.banner > .media > .media-left > img
{
    width: 420px;
    height: 233px;
}
.banner .media-body .title
{
    font-size: 30px;
}
.banner .media-body .detail
{
    font-size: 12px;
    line-height: 150%;

    margin-top: 5px;
    margin-bottom: 15px;
}
.banner p
{
    color: white;
}
.banner h1
{
    color: white;
}
.banner a
{
    color: white;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
.banner .ms-button
{
    padding: 10px 40px;
}
.banner .xs-button
{
    padding: 10px 130px;
}
.features
{
    margin-top: 40px;
}
.features img
{
    width: 60px;
    height: 60px;
    margin-top: 40px;
}
.features .title
{
    font-size: 20px;

    margin-top: 20px;
}
.features .description
{
    font-size: 13px;
    line-height: 150%;

    margin-top: 20px;

    color: #666;
}
.social
{
    margin-top: 80px;
}
.qrcode
{
    width: 100px;
    height: 100px;
    margin-top: 40px;
}
.qrcode-text
{
    margin-top: 10px;
}
.qrcode-text img
{
    width: 100px;
    height: 28px;
}
.target-fix
{
    position: relative;
    top: -50px;

    display: block;
    overflow: hidden;

    height: 0;
}