<html xmlns:th="http://www.thymeleaf.org" >
  <head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
  <body>
      <section >
         <div class="content-wrapper">
         	<h3 th:if="${favorites.name != null and favorites.name !='未读列表'}">
             	 <span th:text="${favorites.name}"></span>
               <span class="title-small ml-sm mr-sm" th:text="'('+${favorites.count}+')'">(8)</span>
               <span data-toggle="modal" data-target="#modal-changeFavName" class="title-small clickable icon-pencil mr-sm"></span>
               <div class="pull-right">
                  <span class="title-small icon-folder-alt mr-sm"></span>
                  <span data-toggle="modal" data-target="#modal-removeFav" class="title-small clickable">删除</span>
               </div>
            </h3>
            <div class="row" id="standard">
               <div class="col-lg-12 col-md-12 mt">
                  <div class="btn-group btn-xs mb pull-right" style="margin-top: -25px;">
                     <a class="btn btn-xs btn-default active"  href="javascript:void(0);"  th:onclick="'locationUrl(\'/standard/' + ${type} + '\',\'\');'">
                        <span class="icon-layers"></span>
                     </a>
 	                 <a class="btn btn-xs btn-default" href="javascript:void(0);" th:onclick="'locationUrl(\'/simple/' + ${type} + '\',\'\');'" >
                        <span class="icon-list"></span>
                     </a>
                  </div>
                  <ul class="timeline-alt">
                     <li th:each="collect,collectStat : ${collects}" >
                        <a href="${collect.url}" class="hidden-xs timeline-badge sharing-user-avatar" th:style="'background-image:url(' + @{(${collect.logoUrl}=='' ? 'img/favicon.png' : ${collect.logoUrl})} + ')'" ></a>
                        <div class="timeline-panel">
                           <div class="popover right">
                              <div class="arrow"></div>
                              <div class="popover-content">
                                 <div class="table-grid">
                                    <div class="col">
                                       <div class="pull-right dropdown dropdown-list">
                                          <a href="#" data-toggle="dropdown" class="sharing-more-button" >
                                             <span class="fa fa-angle-down"></span>
                                          </a>
                                          <ul class="dropdown-menu animated bounceIn">
                                             <li>
                                                <div class="list-group">
                                                   <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-changeSharing" class="list-group-item">
                                                      <div class="media-box">
                                                         <div class="pull-left">
                                                            <em class="fa fa-pencil-square-o fa-2x fa-fw text-info"></em>
                                                         </div>
                                                         <div class="media-box-body clearfix">
                                                            <p class="m0">修改收藏</p>
                                                            <p class="m0 text-muted">
                                                               <small>修改收藏的各种属性</small>
                                                            </p>
                                                         </div>
                                                      </div>
                                                   </a>
                                                   <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-remove" class="list-group-item">
                                                      <div class="media-box">
                                                         <div class="pull-left">
                                                            <em class="fa fa-trash fa-2x fa-fw text-danger"></em>
                                                         </div>
                                                         <div class="media-box-body clearfix">
                                                            <p class="m0">删除</p>
                                                            <p class="m0 text-muted">
                                                               <small>该分享会永久删除</small>
                                                            </p>
                                                         </div>
                                                      </div>
                                                   </a>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="m0">
                                          <a href="#" class="text-muted" th:text="${user.userName}">favorites_name</a>
                                          <a class="deco-none" data-toggle="tooltip" data-placement="top" title="设为私密" th:href="@{/login}"  th:if="${collect.type == 'public'}" >
                                             <span class="fa fa-lock" style="color: #eee;"></span>
                                          </a>
                                          <a class="deco-none" data-toggle="tooltip" data-placement="top" title="设为公开" th:href="@{/login}"  th:if="${collect.type == 'private'}" >
                                             <span class="fa fa-lock text-warning"></span>
                                          </a>
                                          <small class="ml-sm text-muted" th:text="${collect.collectTime}">6天前  </small>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="media resource-card-thumbnail">
                                    <a  th:href="@{${collect.url}}" class="pull-left" target="_blank">
                                       <div class="media-object resource-card-image"  th:style="'background-image:url(' + @{(${collect.logoUrl}=='' ? 'img/favicon.png' : ${collect.logoUrl})} + ')'" ></div>
                                    </a>
                                    <div class="media-body">
                                       <h4 class="visible-xs media-heading resource-card-title-xs">
                                          <a target="_blank" th:href="@{${collect.url}}" th:text="${collect.title}">title</a>
                                       </h4>
                                       <h3 class="hidden-xs media-heading resource-card-title">
                                          <a target="_blank" th:href="@{${collect.url}}" th:text="${collect.title}">title</a>
                                       </h3>
                                       <div class="hidden-xs resource-card-content">
                                          <p  th:text="${collect.description}">description</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="m0">
                                    <span class="icon-folder mr-sm"></span>
                                    <a href="#" class="normal-color-a ng-binding">未读列表</a>
                                    <div class="pull-right hidden-xxs">
                                       <small>
                                          <a class="sharing-action-button">
                                             <span class="fa fa-share-alt"></span>
                                             	分享
                                          </a>
                                          |
                                          <a class="sharing-action-button">
                                             <span class="fa fa-thumbs-o-up"></span>
                                             	点赞(0)
                                          </a>
                                          |
                                          <a class="sharing-action-button">
                                             <span class="fa fa-thumbs-up"></span>
                                          	      取消点赞
                                          </a>
                                          |
                                          <a class="sharing-action-button">
                                             <span class="fa fa-comment-o"></span>
                                            	 评论(0)
                                          </a>
                                          |
                                          <a class="sharing-action-button">
                                             <span class="fa fa-spoon"></span>
                                           	  挖一口
                                          </a>
                                       </small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                    </ul>
               </div>
            </div>
         </div>
      </section>
  </body>
  <script type='text/javascript' th:inline="javascript">
  $(function(){
	  var favorites = /*[[${favorites}]]*/;
	  if(null != favorites ){
		  $("#favoritesId").val(favorites.id);
	  }
  });
  </script>
</html>
