<html >
  <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>
  <link th:href="@{/css/index.css}" rel="stylesheet"></link>
   	<style type="text/css">
		.collect-page {
		  width: 360px;
		  padding: 2% 0 0;
		  margin: auto;
		}
	 </style>
  <body>
    <div class="collect-page" >
	  <div class="form">
	    <form id="collect-form">
	      <input type="text" placeholder="url" name="url"/>
	      <input type="text" placeholder="title" name="title"/>
	      <input type="text" th:value="${webLogo}"  name="webLogo"/>
	      <input type="textarea" placeholder="description" name="description"/>
	      <input type="text" placeholder="charset" name="charset"/>
	      <input type="textarea" placeholder="描述" name="remark"/>
	    </form>
	      <button onclick="collect()">collect</button>
	  </div>
	</div>
  </body>
   <script th:src="@{/webjars/jquery/2.2.4/dist/jquery.min.js}"></script>
   <script th:src="@{/js/comm.js}"></script>   
   <script type='text/javascript'>
   $(function(){
      var request = new UrlSearch();
      $("input[name='url']").val(decodeURIComponent(request.url)); 
      $("input[name='title']").val(decodeURI(request.title)); 
      $("input[name='description']").val(replaceEmpty(decodeURI(request.description))); 
      $("input[name='charset']").val(request.charset); 
	})
      
    function collect(){
    	  if($("input[name='url']").val()== '' ||  $("input[name='title']").val()=='' ){
    		  console.log("参数不能为空！");
 			 return;
 		  }
    	  console.log($("#collect-form").serialize());
    	  $.ajax({
    	         type: "POST",
    	         url:"/user/collect",
    	         data:$("#collect-form").serialize(),
    	         success: function(msg) { console.log(msg);location.href="/home";},
    	         error: function (jqXHR, textStatus, errorThrown) {
    	        	 console.log(jqXHR.responseText);
    	        	 console.log(jqXHR.status);
    	        	 console.log(jqXHR.readyState);
    	        	 console.log(jqXHR.statusText);
    	             console.log(textStatus);
    	             console.log(errorThrown);
    	         }
    	     });
      } 
    </script>
</html>
