<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <aside class="aside" th:fragment="left">
      <div class="aside-inner">
         <nav class="sidebar" data-sidebar-anyclick-close="">
            <ul class="nav">
               <li class="has-user-block">
                  <div>
                     <div class="item user-block">
                        <div class="user-block-picture">
                           <div class="user-block-status">
                              <a href="javascript:void(0);" th:onclick="'locationUrl(\'/user/'+${user.id}+'/0\',\'\');'">
                                 <img alt="" class="img-thumbnail img-circle"  th:src="${user.profilePicture == null?'img/favicon.png':user.profilePicture}" id="leftProfilePicture"/></a>
                              <div class="circle circle-success circle-lg"></div>
                           </div>
                        </div>
                        <div class="user-block-info">
                           <div class="user-block-name" th:text="'欢迎  '+${user.userName}" id="leftUserName">欢迎 欢迎</div>
                           <div class="user-block-role" th:text="${user.introduction == null ? '暂无简介' : user.introduction.length() gt 10 ? user.introduction.substring(0,10)+'...' : user.introduction}" id="leftIntroduction">暂无简介</div>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="nav-heading ">主导航</li>
               <li class="" id="home">
                  <a title="首页"  href="javascript:void(0);"  onclick="locationUrl('/standard/my/0','home')">
                     <em class="icon-home"></em>
                     <span>首页</span>
                  </a>
               </li>
               <li class=" " id="unread">
               </li>
               <li class=" " >
                  <a data-toggle="collapse" title="收藏夹" href="#favorites">
                     <em class="icon-folder"></em>
                     <span>收藏夹</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="favorites">
                     <li class="sidebar-subnav-header">收藏夹</li>
                     <li id="newFavortes" class=" ">
                        <a title="+ 新建收藏夹" href="javascript:void(0);" onclick="locationUrl('/newFavorites','newFavortes')">
                           <span>+ 新建收藏夹</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class=" " id="explore" >
                  <a title="发现" href="javascript:void(0);"  onclick="locationUrl('/standard/explore/0','explore')">
                     <em class="icon-compass"></em>
                     <span>发现</span>
                  </a>
               </li>
               <li class=" " style="display: none">
                  <a data-toggle="collapse" title="群组" href="#groups">
                     <em class="icon-folder"></em>
                     <span>群组</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="groups">
                     <li class="sidebar-subnav-header">群组</li>
                     <li class=" ">
                        <a title="+ 新建群组" href="new_group.html">
                           <span>+ 新建群组</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="nav-heading ">更多</li>
               <li class=" " id="tool">
                  <a title="网页收集工具" href="javascript:void(0);" onclick="locationUrl('/tool','tool')">
                     <em class="icon-wrench"></em>
                     <span>网页收集工具</span>
                  </a>
               </li>
       <!--         <li class=" " id="mobile">
                  <a title="移动客户端" href="javascript:void(0);" onclick="locationUrl('/mobile','mobile')">
                     <em class="icon-screen-smartphone"></em>
                     <span>移动客户端</span>
                  </a>
               </li> -->
               <li class=" " id="import">
                  <a title="导入收藏夹" href="javascript:void(0);" onclick="locationUrl('/import','import')">
                     <em class="icon-login"></em>
                     <span>导入收藏夹</span>
                  </a>
               </li>
               <li class=" " id="export">
                  <a title="导出收藏夹" href="javascript:void(0);" onclick="locationUrl('/export','export')">
                     <em class="icon-logout"></em>
                     <span>导出收藏夹</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </aside>
</body>
</html>

