<html xmlns:th="http://www.thymeleaf.org" >
  <head th:include="layout :: htmlhead" ></head>
  <body>
      <section layout:fragment="content">
        <div class="content-wrapper">
            <h3>网页收集工具</h3>
            <div>
                 <h5>1、使用浏览器扩展收藏网页</h5>
                 支持：Chrome/360极速/QQ/UC/百度浏览器
                 <a target="_blank" href="https://chrome.google.com/webstore/detail/%E4%BA%91%E6%94%B6%E8%97%8F/gnidnmkcdgfiemdaeijncglpgldflhbb?hl=zh-CN" class="btn btn-primary">下载</a>
            </div>
            <div>
                <h5>2、网页收集小工具</h5>
	            <a th:href="@{${path}}" onclick="alert('请把这个按钮拖到您的浏览器书签栏'); return false;" class="btn btn-primary">云收藏</a>
	            <span>(将该按钮拖动至浏览器书签栏,如下图)</span>
            </div>
         </div>
         <div class="text-center">
	       <img th:src="@{/img/useTool.gif}"  alt=""/>
         </div>
      </section>
  </body>
</html>
