<html xmlns:th="http://www.thymeleaf.org" >
  <head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
  <body>
      <section >
         <div class="content-wrapper">
            <div class="row" id="simple">
               <div class="col-lg-12 col-md-12 mt">
                  <div class="btn-group btn-xs mb pull-right" style="margin-top: -25px;">
                     <a class="btn btn-xs btn-default"  th:href="@{/standard/{type}(type=${type})}">
                        <span class="icon-layers"></span>
                     </a>
                     <a class="btn btn-xs btn-default active"  th:href="@{/simple/{type}(type=${type})}">
                        <span class="icon-list"></span>
                     </a>
                  </div>
                  <table class="table">
                     <tbody>
                        <tr th:each="collect,collectStat : ${collects}">
                           <td>
                              <a target="_blank" style="font-size:16px;color:#656565;" th:href="@{${collect.url}}" th:text="${collect.title}">Bootstrap中文网</a>
                           </td>
                           <td width="10%" class="text-center">
                              <img   th:src="@{(${collect.logoUrl}=='' ? 'img/favicon.png' : ${collect.logoUrl})}"  width="35px" height="25px" alt=""/></td>
                           <td width="15%" class="text-center">
                              <div>
                                 <a href="#" class="mr"> <i class="fa fa-pencil"></i>
                                 </a>
                                 <a href="#" class="ml"> <i class="fa fa-trash text-danger"></i>
                                 </a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </section>
  </body>
  <script type='text/javascript'>
 </script>
</html>
